* body , html { 
    height: 100%;
    width: 100%; 
  }
  #box1 {
    background-color:rgb(144, 161, 238);
    width:30%;
    height: 200px;
    float:left;
  }
  #box2 {
    background-color:rgb(230, 173, 181);
    width:5%;
    height: 100px;
    float:right;
  }
  
  #box3 {
    background-color:rgb(205, 230, 173);
    width:2%;
    height:35px;
    float:left;
  }
  
  #box4 {
    background-color:rgb(109, 129, 109);
    width:5%;
    height:55px;
    float:left;
  }
  
  #box5 {
    background-color:rgb(170, 180, 31);
    width:30%;
    height:77px;
    float:left;
  }
  #box6 {
    background-color:rgb(206, 121, 25);
    width:5%;
    height:100px;
    float:left;
  } 